.index_back{
    text-align: center;
}
.index_back table{
    display: flex;
    justify-content: center;
}

#list{
    width: 30%;
    height: 372px;
    border-right: 3px #1F5977 solid;
    border-top: 3px #1F5977 solid;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    padding-left: 20px;
    padding-top: 10px;
}

#menu{
    border-right: 3px #1F5977 solid;

    width: 30%;
    height: 49%;
}
nav ul{
    list-style-type: none;
    margin-right: 20%;
    margin-top: 30px;
}
nav ul li{
    margin-top: 30px;
}
header{
    width: 100%;
    height: 70px;
    background-color: #222222;
    color: #FFFFFF;
}
h1{
    text-align: center;
    padding-top: 15px;
}

#rdv_attente{
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    padding-left: 20px;
    padding-top: 10px;
    width: 70%;
    height: 30%;
    position: absolute;
    right: 0;
    top: 11%;
}
#rdv_encours{
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    padding-left: 20px;
    padding-top: 10px;
    width: 70%;
    height: 30%;
    position: absolute;
    right: 0;
    top: 40%;
}
#rdv_traite{
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    padding-left: 20px;
    padding-top: 10px;
    width: 70%;
    height: 30%;
    position: absolute;
    right: 0;
    top: 68%;
}
h4{
    position: absolute;
    top: 8%;
    right: 62%;
}
