.index_back{
    text-align: center;
}
.index_back table{
    display: flex;
    justify-content: center;
    overflow:hidden;
    table-layout:fixed;
}

.index_back tr{

}

nav ul{
    position: absolute;
    top: 2%;
    left: 25%;
    display: flex;
    justify-content: space-between;

}
nav ul li{
    margin-left: 30px;
    list-style-type: none;
}
header{
    width: 100%;
    height: 80px;
    background-color: #222222;
    color: #FFFFFF;
}
h1{
    padding-top: 15px;
    padding-left: 20px;
}

#rdv_attente{
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    padding-left: 20px;
    padding-top: 10px;
    height: 30%;
}
#rdv_encours{
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    padding-left: 20px;
    padding-top: 10px;
    height: 30%;
}
#rdv_traite{
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    padding-left: 20px;
    padding-top: 10px;
    height: 30%;
}
h4{
    position: relative;
    top: 8%;
    right: 62%;
}
.message{
    overflow:hidden;
    table-layout:fixed;
    width: 30%;
}